@import "../../variables";
.container {
  width: 100%;
  display: flex;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $primary-color;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.title {
  text-transform: uppercase;
}